{% extends "base.html" %}

{% block content %}
<div class="card">
    <h5 class="card-title mt-3">{{ nice_thing.date_added | date:"j F Y" }}</h5>
    <div class="card-body">
        <p class="card-text">
            {{ nice_thing.text }}
        </p>
    </div>
</div>
<form action="{% url 'index' %}" method="get">
    <button type="submit" class="btn btn-primary mt-3 w-50">Show a random NiceThing</button>
</form>
<form action="{% url 'add' %}" method="get">
    <button type="submit" class="btn btn-secondary mt-3 w-25">Add</button>
</form>
<form action="{% url 'report' %}" method="get">
    <button type="submit" class="btn btn-danger mt-3">Report</button>
</form>
{% endblock %}