{% extends "base.html" %}

{% block content %}
<div class="card">
    <h5 class="card-title mt-3">{{ nice_thing.date_added | date:"j F Y" }}</h5>
    <div class="card-body">
        <p class="card-text">
            {{ nice_thing.text }}
        </p>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <div class="sharethis-inline-share-buttons"></div>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="{% url 'index' %}" method="get">
            <button type="submit" class="btn btn-lg mt-3 random-button"><i class="fas fa-smile fa-2x"></i></button>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col text-center">
        <div class="btn-group">
            <form action="{% url 'add' %}" method="get">
                <button type="submit" class="btn btn-lg action-button mr-1">Add</button>
            </form>
            <form action="{% url 'report' nice_thing.id %}" method="get">
                <button type="submit" class="btn btn-lg report-button ml-1">Report</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}