hr {
    max-width: 240px;
}

#id_text, #id_reported_reason {
    max-width: 80%;
}

button {
    background: #96897B;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
button:hover {
    background: #A99E93;
}

.random-button {
    background: #E9C46A;
    color: white;
}
.random-button:hover {
    background: #EDCE85;
}
.action-button {
    background: #38618C;
    color: white;
}
.action-button:hover {
    background: #5C7DA0;
}
.report-button {
    background: #FF5964;
    color: white;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.report-button:hover {
    background: #FF959C;
}
.add-button {
    border-radius: 0 !important;
}
.share-button {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
