{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>NiceThingsHappen</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static '/nicethingshappen/style.css' %}" />
    </head>
    <body>
        <div class="container-fluid w-75 text-center">
            <h1 class="pt-3 pb-3">NiceThings Happen</h1>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>